@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.qli-container {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: solid 1px rgb(187, 185, 185);
}

.qli-container:hover {
    border: black 0.9px solid;
}

.qli-link {
    color: black;
    text-decoration: none;
    overflow-wrap:break-word;
}

/* .qli-link:visited {
    color: rgb(135, 132, 132);
    text-decoration: none;
    font-family: 'Josefin Sans', cursive;
} */

.qli-title {
    font-family: 'Josefin Sans', cursive;
    overflow-wrap:break-word;

}

.qli-title:hover {
    font-family: 'Josefin Sans', cursive;
    color: black;
    font-size: 1.18em;
}

.qli-username {
    font-size: 12px;
    color: rgb(135, 132, 132);
}
