/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html *{
    font-family: sans-serif;

}

button:hover{
    cursor: pointer;

}

button:disabled:hover {
    cursor: not-allowed;
}

.errors {
    color: red;
    font-size: 16px;
    padding-top: 10px;
    list-style: none;
}
