

.ql-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ql-container {
    padding-top: 45px;
    padding-bottom: 20px;
}

.cp-button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: rgb(185, 3, 3);
    border-radius: 4px;
    color: white;
    border: solid 1px rgb(187, 185, 185);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.cp-button:hover {
    border: solid 0.9px black;
    color: white;
    background-color: rgb(57, 56, 56);
}
